[submodule "Drivers/tm1637_sm"]
	path = Drivers/tm1637_sm
	url = https://github.com/bazhen-paseka/tm1637_sm.git
[submodule "Drivers/dosimeter_sbm19_next_sm"]
	path = Drivers/dosimeter_sbm19_next_sm
	url = https://github.com/bazhen-paseka/dosimeter_sbm19_next_sm.git
